# macOS
.DS_Store

# Xcode/Clang debug bundles and C build products
**/*.dSYM/
**/*.o
**/*.out
build/
cmake-build-*/

# Editors and local settings
.vscode/*
!.vscode/
!.vscode/settings.json
!.vscode/tasks.json
.idea/
*.swp
*.swo

# Compiled extensionless executables in the C lessons
C/Dars10/dowhile
C/Dars10/dowhileamaliyot
C/Dars10/for
C/Dars10/for-1
C/Dars10/for1
C/Dars10/for10
C/Dars10/parol
C/Dars6/UygaVazifa/integer16
C/Dars6/UygaVazifa/integer17
C/Dars6/amaliyot/integer1
C/Dars6/amaliyot/integer5
C/Dars6/amaliyot/integer6
C/Dars6/amaliyot/integer8
C/Dars6/amaliyot/integr7
C/Dars6/main
C/Dars6/variables
C/Dars7/begin/b11
C/Dars7/begin/b16
C/Dars7/begin/b2
C/Dars7/begin/b21
C/Dars7/begin/b3
C/Dars7/begin/b6
C/Dars7/if/if1
C/Dars7/if/if12
C/Dars7/if/if17
C/Dars7/if/if32
C/Dars7/if/if35
C/Dars7/if/if44
C/Dars7/if/if46
C/Dars7/if/if48
C/Dars7/if/if49
C/Dars7/if/if50
C/Dars7/main
C/Dars8/case2
C/Dars8/case3
C/Dars8/case4
C/Dars8/goto
C/Dars8/goto3
C/Dars8/gotov2
C/Dars8/homework/case10
C/Dars8/homework/case7
C/Dars8/homework/goto2
C/Dars8/main
C/Dars8/mustaqilish/m1
C/Dars8/mustaqilish/m2
C/Dars8/mustaqilish/m3
C/Dars8/mustaqilish/m4
C/Dars8/tanlash
C/Dars8/uyga/m21
C/Dars8/uyga/m23
C/Dars9/5
C/Dars9/main
C/Dars9/masala1
C/Dars9/masala2.c/masala10
C/Dars9/masala2.c/masala2
C/Dars9/masala2.c/masala4
C/Dars9/masala2.c/masala8
C/Dars9/masala2.c/masala9
C/Dars9/masala2.c/masala_5
C/Dars9/masala2.c/masala_6
C/Dars9/masala2.c/masala_7
C/Dars9/while1
C/Dars9/while2
C/Dars9/while4
